<ion-content class="auth-background">
<ion-content [fullscreen]="true" class="auth-bg">
  <div class="auth-container">
    <div class="logo-circle">
  <span class="logo-letter">M</span>
</div>


    <h1>Crear cuenta</h1>
    <p class="subtitle">
      Registra tu usuario medidor para tomar lecturas de agua
    </p>

    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label class="field-label">Correo institucional</label>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="usuario@empresa.gob.ec"
        ></ion-input>

        <label class="field-label">Contraseña</label>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Mínimo 6 caracteres"
        ></ion-input>

        <label class="field-label">Confirmar contraseña</label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
          placeholder="Repite la contraseña"
        ></ion-input>

        <ion-button
          expand="block"
          class="primary-btn"
          type="submit"
          [disabled]="loading || form.invalid"
        >
          {{ loading ? 'Creando...' : 'REGISTRAR MEDIDOR' }}
        </ion-button>
      </form>

      <div class="links">
        <button type="button" (click)="goToLogin()">
          ¿Ya tienes cuenta? Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</ion-content>
</ion-content>